body {
    background-color: #FAFAFA;
}

.border {
    border: 1px;
}

.breadcumb {
    margin: 10px;
    padding: 0px;
}

.breadcumb h2 {
    color: #DB4A4A;
    font-family: Arial, Helvetica, sans-serif;
}

.breadcumb h3 {
    color: #B4B4AB;
    text-decoration: none;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

.breadcumb a {
    color: inherit;
}

.breadcumb a:hover {
    /* font-weight: 550; */
    color: #DB4A4A;
    text-decoration: none;
}

.recommend-panel {
    margin-bottom: 10px;
    border: 1px;
    width: 100%;
}

.recommend-panel:hover {
    opacity: 0.6;
}

.recommend-panel-img {
    width: 100%;
    height: 120px;
    margin: 0px;
    background-image: url("images/movie_poster_greysanatomy.png");
    background-size: 100%;
    background-repeat: no-repeat, repeat;
}

.recommend-panel-text {
    padding-left: 10px;
    height: 120px;
    width: 100%;
    margin: 0px;
}

.recommend-panel-text a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    /* font-size: 18px; */
}

.recommend-panel-text a:hover {
    color: #DB4A4A;
}

.video-description {
    width: 100%;
    padding: 2%;
}

@media screen and (min-width: 941px) {
    body {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    body {
        font-size: 14px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

@media screen and (max-width: 359px){
    .recommend-panel-text {
        display: none;

    }
}

}