.header-with-search {
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.my_header {
  height: 65px;
  background: #fff;
  z-index: 999;
}

#logo {
  cursor: pointer;
  padding-left: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/youtube-512.png");
}

.search_results {
  width: 100%;
  z-index: 99999;
  background: #f5f5f5;
  color: #db4a3f;
  position: absolute;
  top: 65px;
  margin: 0px 5px 0px 5px;
}

.search_results p {
  margin: 20px 0px 20px 25px;
  font-size:  15px;
  cursor: pointer;
}

.search_results p:hover {
  color: #6b6767;
}

.my_search_bar_input {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  border: none;
  padding: 0px;
  margin: 0px 5px 0px 5px;
  text-indent: 50px;
  z-index: 0;
}

.my_search_bar_input::placeholder {
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.my_search_bar_input:hover {
  transition-duration: 0.8s;
  box-shadow: 0 2px 5px 0 rgba(219, 74, 63, 0.35), 0 5px 10px 0 rgba(219, 74, 63, 0.25);
}

.my_search_bar_input:focus {
  box-shadow: 0 2px 5px 0 rgba(219, 74, 63, 0.35), 0 5px 10px 0 rgba(219, 74, 63, 0.25);
  outline: none;
}

.my_search_bar_icon {
  position: absolute;
  vertical-align: middle;
  left: 35px;
  top: calc(2rem - 12px);
  z-index: 1;
}

.my_header_button {
  width: auto;
  height: 100%;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px;
  color: #333333;
  font-size: 13px;
  text-align: center;
  background-color: white;
  border: none;
  float: right;
}

.my_header_button i {
  vertical-align: middle;
  color: #6b6767;
  font-size: 20px;
}

.my_header_button:hover {
  background-color: rgb(167, 46, 150, 0.8);
  color: white;
  transition-duration: 0.5s;
  box-shadow: 0 2px 5px 0 rgba(190, 116, 116, 0.24), 0 5px 10px 0 rgba(184, 75, 75, 0.19);
}

.my_header_button:hover i {
  color: white;
  transition-duration: 0.5s;
  box-shadow: 0 2px 5px 0 rgba(190, 116, 116, 0.24), 0 5px 10px 0 rgba(184, 75, 75, 0.19);
}

.my_header_button:nth-child(1) {
  background-color: #db4a3f;
  color: white;
}

.my_header_button:nth-child(1) i {
  color: white;
}

.my_header_button_group {
  padding-right: 15px;
  float: right;
}

.my_form_search_bar {
  height: 100%;
}

@media only screen and (max-width: 400px) {
  .my_header_button i {
    display: none;
  }
}